---
import "../styles/global.css";
import gartenpflege from "../assets/icons/Gartenpflege.svg";
import winterservice from "../assets/icons/Winterservice.svg";
import gebaeudereinigung from "../assets/icons/Gebaeudereinigung.svg";
import hausmeisterservice from "../assets/icons/Gebaeudereinigung.svg";
---

<section class="about-section" id="about-section">
     <div class="flex flex-wrap justify-center gap-16">
          <div class="grid place-items-center ">
               <img
                    src={gartenpflege.src}
                    alt="DG Service Logo"
                    class="mb-3 h-24 w-auto"
                    fetchpriority="high"
               />
               <p class="text-services">Gartenpflege</p>
          </div>
          <div class="grid place-items-center">
               <img
                    src={winterservice.src}
                    alt="DG Service Logo"
                    class="mb-3 h-24 w-auto"
                    fetchpriority="high"
               />
               <p class="text-services">Winterservice</p>
          </div>
          <div class="grid place-items-center">
               <img
                    src={gebaeudereinigung.src}
                    alt="DG Service Logo"
                    class="mb-3 h-24 w-auto"
                    fetchpriority="high"
               />
               <p class="text-services">Geb&auml;udereinigung</p>
          </div>
          <div class="grid place-items-center">
               <img
                    src={hausmeisterservice.src}
                    alt="DG Service Logo"
                    class="mb-3 h-24 w-auto"
                    fetchpriority="high"
               />
               <p class="text-services">Hausmeisterservice</p>
          </div>
     </div>
</section>
