@import "tailwindcss";

@theme {
  --color-dark-brown: #9C7A57;
  --color-light-brown: #EEE9D1;
}

@layer utilities {
  .text-navbar {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
  .text-footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
  }
}